<div class="nested-fields nested-answers">
  <%= f.label :answer, 'Answer', class: "answer-label" %>
  <%= f.text_field :answer, class: 'form-control', placeholder: 'BBB' %>
  <%= link_to_remove_association "X", f, class: "destroy-answers" %>

  <div class="answer-detail-form">
    <%= f.fields_for :answer_details do |answer_detail| %>
      <%= render partial: "answer_detail_fields", locals: { f: answer_detail } %>
    <% end %>

    <div class="links-answer-details">
      <%= link_to_add_association "Add answer detail", f, :answer_details %>
    </div>
  </div>
</div>
