<div class="form-group">
  <%= form.label :question, 'Question' %>
  <%= form.text_field :question, class: 'form-control', placeholder: 'AAA' %>
</div>

<%= form.hidden_field :require_flg, value: true %>
<%= form.hidden_field :question_type, value: 0 %>

<br>

<div class="form-group" id="nested-answers-form">
  <%= form.fields_for :answers do |answer| %>
    <%= render partial: "answer_fields", locals: { f: answer } %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add", form, :answers %>
  </div>
</div>

<%= form.submit('Save', class: 'btn btn-primary') %>
<%= link_to('Cancel', questions_path, class: 'btn btn-secondary') %>
