<div class="form-group">
  <%= form.label :question, 'Question' %>
  <%= form.text_field :question, class: 'form-control', placeholder: 'AAA' %>
</div>

<%= form.hidden_field :require_flg, value: true %>
<%= form.hidden_field :question_type, value: 0 %>

<br>

<div class="form-group" id="nested-answers-form">
  <%= form.fields_for :answers do |answer| %>
    <%= render partial: "answer_fields", locals: { f: answer } %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add", form, :answers %>
  </div>
</div>

<div class="form-group">
  <%= form.fields_for :question_tags do |question_tags| %>
    <%= render partial: "question_tag_fields", locals: { f: question_tags } %>
  <% end %>

  <div class="links" id="add_question_tag_wrapper" style="display: none">
    <%= link_to_add_association "Add Question Tag", form, :question_tags, id: "add_question_tag" %>
  </div>
</div>

<div class="form-group">
  <%= text_field_tag :question_tags, nil, {class: 'form-control', id: 'question_tags_id', placeholder: 'question tags'} %>
</div>

<%= form.submit('Save', class: 'btn btn-primary') %>
<%= link_to('Cancel', questions_path, class: 'btn btn-secondary') %>
